:root {
  --accent-color: #2f303a;
  --link-color: #757575;
  --logo-font-family: "raleway", "sans-serif";
  --heading-font-family: "roboto", "sans-serif";
}
.global-header {
  background-color: var(--main-color);
  padding: 40px 50px 40px 100px;
  display: flex;
}
.global-header,
.main-navigation a,
.global-header .main-navigation a:visited,
.contact-section {
  color: var(--link-color);
  font-size: 0.875em;
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.main-navigation ul,
.contact-section ul {
  list-style-type: none;
  display: flex;
}
/*.second-navigation ul {
  display: flex;
  flex-direction: column;
}*/
.item-logo {
  font-size: 26px;
  font-family: var(--logo-font-family);
  font-weight: 700;
}
.item-web-span {
  color: var(--second-color);
}

.container-header a {
  color: #000000;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.item {
  width: calc(33.7% - 32px);
  margin-right: 32px;
  margin-bottom: 32px;
  border: 1px solid #eeeeee;
}

.item:nth-child(3n) {
  width: calc(33.7% - 32px);
  margin-right: 0;
}

.item-img {
  width: 100%;
}
.item-footer {
  background-color: var(--accent-color);
}
.item-footer ul {
  list-style-type: none;
}

.item-footer a {
  color: #ffffff;
  text-decoration: none;
}

.item-web-span {
  color: #2196f3;
}

.item-logo {
  font-size: 26px;
  font-family: var(--logo-font-family);
  font-weight: 700;
}

.global-header a {
  color: #000000;
  text-decoration: none;
}

.global-header ul {
  list-style-type: none;
  display: inline-flex;
}
